@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }
  .luminosity {
    mix-blend-mode: luminosity;
  }
  .difference {
    mix-blend-mode: difference;
  }
  .hue {
    mix-blend-mode: hue;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
